<launch>

<rosparam file="$(find edmo_assembly_3_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="edmo_assembly_3" args="Rev5_position_controller Rev10_position_controller Rev17_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/edmo_assembly_3/joint_states"/>
</node>

</launch>