<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find edmo_sim)/worlds/empty.world" />
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- <param name="camera_description" command="$(find xacro)/xacro '$(find edmo_description)/urdf/camera.xacro'"/>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param camera_description -urdf -model pr2" /> -->

    <param name="edmo_description" command="$(find xacro)/xacro '$(find edmo_assembly_3_description)/urdf/edmo_assembly_3.xacro'"/>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param edmo_description -urdf -model edmo" />

</launch>